.about-page {
  margin-top: -160px;

  @include desktop {
    @include black-top(230px);
    margin-top: -120px;
  }
}

.about-page__preview {
  min-height: 160px;
  margin-bottom: 80px;

  @include desktop {
    min-height: 120px;
    margin-bottom: 220px;
  }
}

.about-page__section {
  margin-bottom: 85px;

  @include desktop {
    margin-bottom: 240px;
  }
}

.about-page__text-cols {
  @include desktop {
    font-size: 18px;
  }
}
