.figure {
  &:not(:last-child) {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 0;
    }
  }
}

.figure__pic {

  img {
    display: block;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 38px;
    }
  }
}

.figure__content {
  max-width: 480px;
}

.figure__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;

  @include desktop {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.figure__text {
  margin: 0;
  font-size: 14px;

  @include desktop {
    font-size: 18px;
  }
}
