.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  overflow-y: auto;

  background-color: #000000;
  color: #ffffff;
  transition-property: transform;
  transition-duration: .3s;
  transform: translate3d(100%, 0, 0);

  &--opened {
    transform: translate3d(0, 0, 0);
  }

  @include not-mobile {
    display: none;
  }
}

.mob-menu__lang {
  margin-bottom: 40px;
  padding-left: 16px;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}

.mob-menu__lang-item {
  margin-right: 32px;
  opacity: 0.5;

  &--current {
    opacity: 1;
  }
}

.mob-menu__nav {
  position: relative;
  margin-bottom: 50px;
  padding-left: 20px;
  padding: 20px;
  margin-left: -20px;

  transition-property: height, transform;
  transition-duration: .5s;

  &--opened {
    transform: translateX(-100%);
    transition-delay: .2s;
  }
}

.mob-menu__nav-subtitle {
  margin-bottom: 24px;
  padding: 20px;
  font-weight: 800;
  font-size: 24px;
  border: 1px solid rgba(#fff, 0.4);
}

.mob-menu__back {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  margin-left: -45px;
  padding: 20px;
  padding-left: 16px;
  font-weight: 800;
  font-size: 24px;
  border: 1px solid rgba(#fff, 0.4);

  .icon {
    margin-top: 4px;
    transform: scaleX(-1);
  }

  span {
    margin-left: 10px;
  }
}

.mob-menu__list {
  @include reset-list;
  margin-bottom: 38px;

  & > li {
    margin-bottom: 20px;
  }

  & > li > a {
    display: block;
    padding: 20px;
    font-weight: 800;
    font-size: 24px;

    border: 1px solid rgba(#fff, 0.4);
  }

  & > .menu-item-has-children {
    margin-bottom: 24px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 500;

    & > span {
      display: flex;
      align-items: center;
      cursor: default;

      &::after {
        display: block;
        width: 8px;
        height: 8px;
        margin-left: 12px;
        border-bottom: 2px solid currentColor;
        border-left: 2px solid currentColor;
        transform: rotate(-135deg) translate3d(2px, -2px, 0);
        content: "";
        transition-duration: .25s;
        transition-property: border-color;
      }
    }

    &.opened {
      .sub-menu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;

    @include reset-list;
    padding-left: 65px;

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
