section.contact-us
  .container
    .contact-us__inner
      h2.contacts-us__title.headline Let's talk about your ideas!
      .contact-us__content
        p.contacts-us__text We offer a range of services, which includes the entire list of construction works of any complexity and with virtually any deadline.
        a.contacts-us__btn.btn(href="contacts.html") Please Contact Us
